DATABASE_HOST=127.0.0.1
DATABASE_PORT=55432
DATABASE_NAME=jungle_wagering
DATABASE_USER=jungle
DATABASE_PASSWORD=jungle

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566

SQS_WAGER_QUEUE_NAME=wager-transactions.fifo
SQS_WAGER_DLQ_NAME=wager-transactions-dlq.fifo
SQS_WAGER_EVENTS_QUEUE_NAME=wager-events.fifo
SQS_WAGER_MAX_ATTEMPTS=3

OUTBOX_POLL_INTERVAL_MS=500
OUTBOX_BATCH_SIZE=20

PENDING_REFERENCE_POLL_INTERVAL_MS=500
PENDING_REFERENCE_MAX_ATTEMPTS=5
PENDING_REFERENCE_BASE_BACKOFF_SECONDS=5

PORT=3000
